# Dependencies
node_modules/

# Astro build cache
.astro/

# Build output
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.test
.env.production

# Coverage
coverage/
.nyc_output/
*.lcov

# TypeScript cache
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# Editor temp files
*.swp
*.swo
*.tmp
*.bak
*.iml

# IDE/editor
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
